body{
    width:100%;
    height:1000px;
    background-color:white;
    padding:0;
    margin:0;    
    
}
.container1{
    width:100%;
    height: 300px;
    background-color:mediumblue;
    padding: 5px;
    color: white;   
    
}
.button{
    background-color: mediumblue; 
    color:white;      
    border: none;
}
.para-1{
    color:aquamarine;
    font-size: 30px;
}
.outline{
    background-color: mediumblue;
    color: aquamarine;
    border:1px solid white;    
    border-radius: 5px;
    size: 50px;
    align-items: center;
}
.sone{
    width: 200px;
    height: 150px;
    float: right;
    background-color: white;
    color:black;
    padding: 20px;
    border: 15px solid white;
    border-radius: 10px;
}
.button4{
    background-color:mediumblue;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
}
.para-2{
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
}
.para-3{
    font-size: 25px;
}
.para-4{
    color:blue;
    font-size: 25px;
}
html{
    scroll-behavior: smooth;
}
.container2{
    width:100%;
    height: 200px;
    background-color: mediumblue;
    color: white;
    padding-top: 5px;
    
}
.para-5{
    text-align: center;
    font-size: 40px;
}
.para-6{
    text-align: center;
    font-size: 25px;
}
.container3{
    font-size: 30px;
    text-align: center;
}
.table{
    width:100%;
    border: 5px solid white;
}